<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход Конференции.РФ</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <main class="auth-container">
        <h1>Регистрация</h1>
    {% if errors %}
        <div class="errors" data-testid="reg-errors">
            <ul>
                {% for error in errors %}
                    <li>{{error}}</li>
                    {% endfor %}
            </ul>
        </div>
    {% endif %}

    <form method="POST" action="/login" id="login-form" novalidate>
        <label for="login">Логин</label>
        <input type="text" id="login" name="login"
               data-testid="login-login" required>

        <label for="password">Пароль</label>
        <input type="password" id="password" name="password"
               data-testid="login-password" required>

        <button type="submit" data-testid="login-submit">Войти</button>
    </form>

    <p class="switch-link">Еще не зарегистрированы?<a href="/register">Регистрация</a></p>
    <script src="/static/js/validation.js" />
</body>
</html>